.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
.flatpak-builder/
flatpak-builder-tools/
build-dir/
builddir/
flatpak/cargo-sources.json
Cargo.toml.patched
generate_patched_cargo_toml.py
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source