[Desktop Entry]
Name=Eyedropper
Comment=Eyedropper applet for cosmic desktop. Pick colours from the screen.
Type=Application
Icon=io.github.nalladev.CosmicExtAppletEyedropper
Exec=cosmic-ext-applet-eyedropper
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
